## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [100]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [101]:
# View the column names in the data
column_names = df.columns
print(column_names)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [102]:
# Use the describe function to gather some basic statistics
statistics = df.describe()

In [103]:
# Use this space to do any additional research
# and familiarize yourself with the data.

In [104]:
# What three item categories had the most entries?
top_categories = df['category'].value_counts().nlargest(3)
print(top_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [105]:
# For the category with the most entries, which subcategory had the most entries?
subcategory_most_entries_consumables = df[df['category'] == 'consumables']['subcategory'].value_counts().idxmax()
print(subcategory_most_entries_consumables)

bathroom supplies

In [106]:
# Which five clients had the most entries in the data?
top_clients = df['first'].value_counts().nlargest(5)
print(top_clients)

first
Christopher    1090
Michael        1047
William         982
John            959
Jennifer        902
Name: count, dtype: int64

In [107]:
# Store the client ids of those top 5 clients in a list.
top_clients = df['client_id'].value_counts().nlargest(5).index.tolist()
print(top_clients)

[33615, 66037, 46820, 38378, 24741]

In [108]:
# How many total units (the qty column) did the client with the most entries order order?
client_most_entries = df['client_id'].value_counts().idxmax()  # Get the client with the most entries
total_units_ordered = df[df['client_id'] == client_most_entries]['qty'].sum()
print(total_units_ordered)

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [124]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['line_subtotal'] = df['unit_price'] * df['qty']
print("Line 110 output - After adding 'line_subtotal' column:")
print(df[['unit_price', 'qty', 'line_subtotal']].head())

Line 110 output - After adding 'line_subtotal' column:
   unit_price  qty  line_subtotal
0     1096.80  105      115164.00
1       24.95   21         523.95
2       13.52   39         527.28
3       36.42   29        1056.18
4      195.10   20        3902.00

In [142]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
df['shipping_price'] = df.apply(lambda row: row['qty'] * 7 if row['qty'] > 50 else row['qty'] * 10, axis=1)
print("Line 120 output - After adding 'shipping_price' column:")
print(df[['qty', 'shipping_price']].head())

Line 120 output - After adding 'shipping_price' column:
   qty  shipping_price
0  105             735
1   21             210
2   39             390
3   29             290
4   20             200

In [144]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df['total_price'] = df['line_subtotal'] + df['shipping_price'] + (df['line_subtotal'] + df['shipping_price']) * 0.0925
print("Line 118 output - After adding 'total_price' column:")
print(df[['line_subtotal', 'shipping_price', 'total_price']].head())

Line 118 output - After adding 'total_price' column:
   line_subtotal  shipping_price    total_price
0      115164.00             735  126619.657500
1         523.95             210     801.840375
2         527.28             390    1002.128400
3        1056.18             290    1470.701650
4        3902.00             200    4481.435000

In [155]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']
print("Output - After adding 'line_cost' column:")
print(df[['unit_cost', 'qty', 'shipping_price', 'line_cost']].head())

Output - After adding 'line_cost' column:
   unit_cost  qty  shipping_price  line_cost
0     762.71  105             735   80819.55
1      15.09   21             210     526.89
2       7.86   39             390     696.54
3      24.85   29             290    1010.65
4     108.17   20             200    2363.40

In [153]:
# Create a column for the profit of each line using line cost and line price
df['line_profit'] = df['total_price'] - df['line_cost']
print("Output - After adding 'line_profit' column:")
print(df[['line_cost', 'total_price', 'line_profit']].head())

Output - After adding 'line_profit' column:
   line_cost    total_price   line_profit
0   80819.55  126619.657500  45800.107500
1     526.89     801.840375    274.950375
2     696.54    1002.128400    305.588400
3    1010.65    1470.701650    460.051650
4    2363.40    4481.435000   2118.035000

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [185]:
Order_IDs = [2742071, 2173913, 6128929]
provided_totals = [152811.89, 162388.71, 923441.25]

In [195]:
# Check your work using the totals above
for order_id, provided_total in zip(order_ids, provided_totals):
    calculated_total = df[df['order_id'] == order_id]['total_price'].sum()
    print(f"Order ID {order_id}:")
    print(f"Calculated Total: ${calculated_total:.2f}")
    print(f"Provided Total: ${provided_total:.2f}")
    print(f"Matches provided total: {'Yes' if abs(calculated_total - provided_total) < 0.01 else 'No'}")

Order ID 2742071:
Calculated Total: $143312.33
Provided Total: $2742071.00
Matches provided total: No
Order ID 2173913:
Calculated Total: $129190.05
Provided Total: $2173913.00
Matches provided total: No
Order ID 6128929:
Calculated Total: $787923.31
Provided Total: $6128929.00
Matches provided total: No

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [203]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
top_clients = {
    33615: 'Christopher',
    66037: 'Michael',
    46820: 'William',
    38378: 'John',
    24741: 'Jennifer'
}

for client_id, client_name in top_clients.items():
    total_spending = df[df['client_id'] == client_id]['total_price'].sum()
    print(f"Client {client_name} (ID {client_id}) total spending: ${total_spending:.2f}")

Client Christopher (ID 33615) total spending: $6880713.70
Client Michael (ID 66037) total spending: $9072226.39
Client William (ID 46820) total spending: $8581555.85
Client John (ID 38378) total spending: $9731160.96
Client Jennifer (ID 24741) total spending: $78510051.37

In [201]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
top_clients = {
    33615: 'Christopher',
    66037: 'Michael',
    46820: 'William',
    38378: 'John',
    24741: 'Jennifer'
}

summary_data = []
for client_id, client_name in top_clients.items():
    client_data = df[df['client_id'] == client_id]
    total_units = client_data['qty'].sum()
    total_shipping = client_data['shipping_price'].sum()
    total_revenue = client_data['total_price'].sum()
    total_profit = client_data['line_profit'].sum()
    
    summary_data.append({
        'client_name': client_name,
        'total_units': total_units,
        'total_shipping': total_shipping,
        'total_revenue': total_revenue,
        'total_profit': total_profit
    })

summary_df = pd.DataFrame(summary_data)
print(summary_df)

   client_name  total_units  total_shipping  total_revenue  total_profit
0  Christopher        64313          459104   6.880714e+06  2.075281e+06
1      Michael        43018          308389   9.072226e+06  3.154506e+06
2      William        75768          537615   8.581556e+06  2.638198e+06
3         John        73667          522920   9.731161e+06  3.002975e+06
4     Jennifer       239862         1685862   7.851005e+07  3.626174e+07

In [243]:
# Format the data and rename the columns to names suitable for presentation.
summary_data = []

for client_id, client_name in top_clients.items():
    client_data = df[df['client_id'] == client_id]
    total_units = client_data['qty'].sum()
    total_shipping = client_data['shipping_price'].sum()
    total_revenue = client_data['total_price'].sum()
    total_profit = client_data['line_profit'].sum()
    
    summary_data.append({
        'client_name': client_name,
        'total_units': total_units,
        'total_shipping': total_shipping,
        'total_revenue': total_revenue,
        'total_profit': total_profit
    })

summary_df = pd.DataFrame(summary_data)
print("Summary DataFrame before formatting:")
print(summary_df)

print("Column names in the summary DataFrame:")
print(summary_df.columns)


# Define the money columns. 
money_columns = ['total_shipping', 'total_revenue', 'total_profit']

# Define a function that converts a dollar amount to millions.
def currency_format_millions(value):
    return value / 1_000_000

# Apply the currency_format_millions function to only the money columns. 
for col in money_columns:
    summary_df[col] = summary_df[col].apply(currency_format_millions)
# Rename the columns to reflect the change in the money format. 
summary_df.rename(columns={
    'total_shipping': 'total_shipping (millions)',
    'total_revenue': 'total_revenue (millions)',
    'total_profit': 'total_profit (millions)'
}, inplace=True)

print("Summary DataFrame after formatting:")
print(summary_df)

Summary DataFrame before formatting:
   client_name  total_units  total_shipping  total_revenue  total_profit
0  Christopher        64313          459104   6.880714e+06  2.075281e+06
1      Michael        43018          308389   9.072226e+06  3.154506e+06
2      William        75768          537615   8.581556e+06  2.638198e+06
3         John        73667          522920   9.731161e+06  3.002975e+06
4     Jennifer       239862         1685862   7.851005e+07  3.626174e+07
Column names in the summary DataFrame:
Index(['client_name', 'total_units', 'total_shipping', 'total_revenue',
       'total_profit'],
      dtype='object')
Summary DataFrame after formatting:
   client_name  total_units  total_shipping (millions)  \
0  Christopher        64313                   0.459104
1      Michael        43018                   0.308389
2      William        75768                   0.537615
3         John        73667                   0.522920
4     Jennifer       239862                   1.685862

   total_revenue (millions)  total_profit (millions)
0                  6.880714                 2.075281
1                  9.072226                 3.154506
2                  8.581556                 2.638198
3                  9.731161                 3.002975
4                 78.510051                36.261738

In [245]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
sorted_summary_df = summary_df.sort_values(by='total_profit (millions)', ascending=False)
print("Sorted Summary DataFrame:")
print(sorted_summary_df)

Sorted Summary DataFrame:
   client_name  total_units  total_shipping (millions)  \
4     Jennifer       239862                   1.685862
1      Michael        43018                   0.308389
3         John        73667                   0.522920
2      William        75768                   0.537615
0  Christopher        64313                   0.459104

   total_revenue (millions)  total_profit (millions)
4                 78.510051                36.261738
1                  9.072226                 3.154506
3                  9.731161                 3.002975
2                  8.581556                 2.638198
0                  6.880714                 2.075281